# Általános Python fájlok
*.pyc
__pycache__/
venv/
.env
.idea/
*.log

# Jupyter notebook checkpointok
.ipynb_checkpoints/

# VS Code beállítások (opcionális)
.vscode/

# Dash és Plotly session fájlok (ha releváns)
.session/

# Docker build fájlok (ha használsz Docker-t)
.dockerignore
Dockerfile
